{% extends 'base.html' %}
{% block content %}
<h1>Watch Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ watch.brand }}</span>
                <p>Model: {{ watch.model }}</p>
                <p>Band Material: {{ watch.band_material }}</p>
                <p>Color: {{ watch.color }}</p>
                <p>Interface: {{ watch.interface }}</p>
                <p>Description: {{ watch.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'watches_update' watch.id %}">Edit</a>
                <a href="{% url 'watches_delete' watch.id %}">Delete</a>
            </div>
        </div>
    </div>   
    <hr>
    

<div class="col s6">
    <form action="{% url 'add_service' watch.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ service_form.as_p }}
        <input type="submit" class="btn" value="Add Service">
      </form>
      <!-- New Markup Above -->
      
    <table class="striped">
        <h5>Service Details</h5>
      <thead>
        <tr><th>Date</th><th>Service</th></tr>
      </thead>
      <tbody>
        {% for service in watch.service_set.all %}
          <tr>
            <td>{{service.date}}</td>
            <td>{{service.get_service_type_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
</div>

<div class="row">
  <div class="col s6">
    <h3>Accessories</h3>
    {% if watch.accessorys.count %}
      {% for accessory in watch.accessorys.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ accessory.color }}">{{ accessory.color }}</span> {{ accessory.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_accessory' watch.id accessory.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Accessories</h5>
    {% endif %}
  </div>

</div>
<div class="col s6">
  <h3>Available Accessories</h3>
  {% if accessorys.count %}
    {% for accessory in accessorys.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span style="color: {{ accessory.color }}">{{ accessory.color }}</span> {{ accessory.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_accessory' watch.id accessory.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h7>This Watch Already Has All Available Accessories</h7>
  {% endif %}
</div>

<script>
    const dateEl = document.getElementById('id_date');
    // M is Materialize's global variable
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    const selectEl = document.getElementById('id_service_type');
    M.FormSelect.init(selectEl);
  </script>

{% endblock %}